.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 20px;

  input,
  select {
    background-color: rgb(238, 238, 238);
    border-radius: 4px;
    border-width: 1px;
    font-size: 1.1rem;
    margin-bottom: 10px;
    padding: 8px;
    width: 200px;

  }
}