$grey: rgba(0, 0, 0, .5);
$blue: rgba(0, 0, 255, .5);

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@mixin loaderDivMixin {
  animation: rotate linear 3.5s infinite;
  border: 2px solid transparent;
  border-radius: 50%;
  padding: 8px;
}

.loader {
  display: block;
  height: 150px;
  margin: 0 auto;
  overflow: hidden;
  position: relative;
  width: 150px;
	
	div {
    height: 100%;
  }
}

/* loader 1 */
.loader1, .loader1 div {
  @include loaderDivMixin;
  border-bottom-color: $blue;
  border-top-color: $grey;
}

div:hover {
  animation-play-state: paused;
}

.loader, .loader * {
  will-change: transform;
}
