.bannerContainer {
  max-height: 200px;
  min-height: 130px;
  overflow: hidden;
  width: 100%;
}

.navBanner {
  transform: translateY(-50%);
  width: 100%;
}

.list {
  display: block;
  height: 100%;
  margin: 0;
  padding: 0;
  position: relative;
  top: 0;
}

.left {
  float: left;
}

.right {
  float: right;
}

.small {
  font-size: .9rem;
  width: 50px;
}

.normal {
  font-size: 1.1rem;
  width: 100px;
}

.link {
  display: inline-block;
  font-weight: bold;
  height: 100%;

  a {
    align-items: center;
    color: white;
    cursor: default;
    display: flex;
    height: 100%;
    justify-content: center;
    text-decoration: none;
    transition: .5s;

    &:hover{
      background-color: rgba(118, 158, 114, 0.351);
    }
  }
}

@media only screen and (max-width: 400px) {
  .left,
  .right {
    margin: 0;
  }
} 