.container {
  align-items: center;
  display: flex;
  height: 100%;
  justify-content: center;
  min-width: 320px;
  overflow: hidden;
  position: absolute;
  width: 100%;
}

.background {
  background-image: url('./money-2696228_1920.jpg');
  background-position: center;
  filter: blur(5px);
  -webkit-filter: blur(5px);
  height: 102%;
  position: absolute;
  width: 102%;
  z-index: -1;
}

.formContainer {
  background-color: rgba(0,0,0,.8);
  border-radius: 8px;
  height:350px;
  justify-self: center;
  padding: 30px;
  width: 500px;
}

.heading {
  color: white;
  margin: 0;
  text-align: center;
}

.childContainer {
  margin-top: 30px;

  form {
    align-items: center;
    display: flex;
    flex-direction: column;
  }

  span {
    color: white;
    display: block;
    text-align: center;
  
    a {
      color: rgb(60, 158, 255);
      font-weight: bold;
      text-decoration: none;
    }
  }
}

