.input {
  background-color: rgb(24, 24, 24);
  border: none;
  border-radius: 4px;
  color: white;
  font-size: 1.1rem;
  margin-top: 10px;
  padding: 8px;
  width: 200px;
}

.input::placeholder {
  color: white;
  font-style: italic;
  opacity: .75;
}