.input {
  border-radius: 4px;
  width: 200px;
  padding: 8px;
  margin-top: 10px;
  font-size: 1.1rem;
  background-color: rgb(24, 24, 24);
  border: none;
  color: white;

  
}

.input::placeholder {
  color: white;
  opacity: .75;
  font-style: italic;
}